.containerFilter {
  background-color: white;
  height: 100%;
  .categoriesFilter {
    h2 {
      padding: 20px;
      background-color: white;
      cursor: pointer;
      text-align: center;
    }
    color: var(--color-brand);
    height: 81px;
  }
  .categoriesLoaded {
    color: var(--color-brand);
    height: 50px;
    border: 2px rgb(0, 90, 0);
  }

  .activeCategory {
    background: var(--color-brand);
    opacity: 0.5;
    color: white;
  }

  .categoriesLoaded:hover {
    background: var(--color-brand);
    opacity: 0.5;
    color: white;
    cursor: pointer;
  }
}
