.favBoard {
  margin-left: 7%;
  margin-right: 7%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .favProducts {
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: var(--color-gray);
    -webkit-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.24);
    height: 150px;
    width: 90%;
    margin-left: 20px;
    // height: max-content;
    :link {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      .deleteButton {
        margin-left: 50%;
        margin-top: 0.5%;
      }
    }

    .favPic {
      height: 80%;
      width: 18%;
      margin: 1% 5% 0% 5%;
    }
    .favInfo {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .favTitle {
        margin-bottom: 10px;
        font-weight: 600;
        color: var(--color-brand);
      }
    }
    &:hover {
      background-color: white;
      .favTitle {
        color: black;
      }
    }
  }

  .defaultResponse {
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 180px;
      height: fit-content;
      margin: 1rem 1rem;
      padding: 12px 24px;
      border-radius: 3px;
      font-size: 16px;
      background-color: var(--color-brand);
      color: var(--color-light);
      border: none;
      cursor: pointer;
      opacity: 70%;
      &:hover {
        background-color: var(--color-sun-85);
        box-shadow: 1px 1px 2px var(--color-black);
        text-shadow: 1px 1px 1px var(--color-black);
      }
    }
  }
}

@media (max-width: 768px) {
  .favBoard {
    .favProducts {
      :link {
        height: 200px;
        width: 300px;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
