.allcontent {
  width: 85%;

  // margin-bottom: 10px;
  margin-left: 7%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .title {
    color: var(--color-black);
    text-align: center;
  }
}

.wishlist {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 27px;

  .deleteButton {
    margin-left: 30%;
    // margin: 0.01vw 0 0 1vw;

  }

  h3 {
    margin-left: 5%;
    cursor: pointer;
    &:hover{
      color: var(--color-brand)
    }
  }
  margin-left: 5%;

  .products {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;

    .wishlistProducts {
      border-radius: 7px;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      background-color: var(--color-gray);
      -webkit-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.24);
      height: 200px;
      width: 90%;
      margin-left: 20px;

      .deleteButton {
        margin: 0.2vw 0 0 31vw;
      }

      .wishlistPic {
        height: 150px;
        width: 200px;
        margin-left: 3%;
        margin-right: 2%;
        margin: 2.5% 5%;
      }
      .productsInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .productTitle {
          margin-bottom: 10px;
          font-weight: 600;
          color: var(--color-brand);
        }
      }
      &:hover {
        background-color: white;
        .productTitle {
          color: black;
        }
      }
    }
  }
}

.createButton {
  list-style: none;
  text-align: center;
  margin-top: 5%;
  padding: 1%;
  border-radius: 3px;
  width: 9vw;
  height: 10%;
  cursor: pointer;
  background-color: var(--color-brand);
  opacity: 70%;
  color: var(--color-light);
  &:hover {
    background-color: var(--color-sun);
    box-shadow: 1px 1px 2px var(--color-black);
    text-shadow: 1px 1px 1px var(--color-black);
  }
}
.createInput {
  list-style: none;
  margin-top: 5%;
  padding: 1.3% 1.5%;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--color-brand-75);

  input {
    margin: 0 1rem;
    padding: 3px 0 3px 9px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    &:focus {
      outline: none;
      background-color: var(--color-light);
    }
  }

  button {
    margin: 0 1rem;
    padding: 12px;
    background-color: var(--color-brand);
    color: var(--color-light);
    font-size: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-sun);
      box-shadow: 1px 1px 2px var(--color-black);
      text-shadow: 1px 1px 1px var(--color-black);
    }
  }
}

.deleteButton {
  position: absolute;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: white;
    background-color: var(--color-delete);
  }
  &:focus {
    border: none;
  }
}
