.adminMenu {
  display: flex;
  align-items: center;
  margin-right: 15px;

  ul {
    font-size: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li {
      margin: 0 12px;
    }
  }

  .test {
    font-family: sans-serif;
    color: var(--color-brand);
    text-decoration: none;
    :hover {
      color: var(--color-brand-light);
    }
  }
}

.cart-items {
  font-family: sans-serif;
  color: var(--color-brand);
  text-decoration: none;
  font-size: 22px;
  float: right;
  :hover {
    color: var(--color-brand-light);
  }
}
