.adminMenu {
  ul {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    list-style-type: none;

    li {
      margin: 0 12px 0 6px;
    }
  }

  .test {
    font-family: sans-serif;
    color: var(--color-brand);
    text-decoration: none;

    &:hover {
      color: var(--color-brand-light);
      span {
        color: var(--color-light);
        background-color: var(--color-brand-light);
      }
    }

    span {
      position: absolute;
      margin-top: 0.3rem;
      margin-left: 0.2rem;
      padding: 0 0.5rem;
      font-size: 50%;
      color: var(--color-light);
      background-color: var(--color-brand);
      border-radius: 50%;

      &:hover {
        color: var(--color-light);
        background-color: var(--color-brand-light);
      }
    }
  }
}
