$white: var(--color-light);
$gray: var(--color-gray);
$black85: var(--color-black-85);
$black50: var(--color-black-50);
$separator: var(--color-dark-50);
$brandlight: var(--color-brand-75);
$brandlight2: var(--color-brand-50);
$font2: var(--font-fam);

.Nav {
  width: 100%;
  height: 108px;
  position: fixed;
  // overflow: hidden;
  box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.2);
  color: $brandlight;
  background-color: white;
  z-index: 100;

  .navTitles {
    margin: 0px 1.5%;

    .logo {
      width: 15em;
      min-width: 10em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      #home {
        a {
          cursor: pointer;
          text-decoration: none;
          color: inherit;
          &:visited,
          &:active {
            color: inherit;
          }

          &:hover {
            &:after {
              content: '';
              position: absolute;
              margin: -15px 18px 0 17px;
              height: 1px;
              width: 40px;
              border-bottom: solid 4px $brandlight2;
            }
          }
        }
      }

      .products-title {
        h2 {
          cursor: pointer;
          &:hover {
            &:after {
              content: '';
              position: absolute;
              margin: 32px 36px 0 -90px;
              height: 1px;
              width: 63px;
              border-bottom: solid 4px $brandlight2;
            }
          }
        }

        ul {
          z-index: 100;
          display: none;
          list-style-type: none;
          padding: 0px;
        }

        &:hover {
          ul {
            display: block;
            position: absolute;
            margin: 0 0 0 -25px;
            animation: all 0.5s linear;
            background-color: white;
            border-radius: 5px;
            box-shadow: 1px 1px 2px $black50;

            li {
              border-bottom: solid 2px $separator;
              padding: 10px 22px 10px 14px;
              cursor: pointer;

              &:hover {
                background-color: $brandlight;
                color: white;
                border-radius: 5px;
              }
            }

            #lastItem {
              border-bottom: none;
              &:after {
                border-bottom: none;
              }
            }
          }
        }
      }

      .exchange {
        font-family: $font2;
        &__usd {
          color: $brandlight2;
          font-weight: 700;
        }

        &__ars {
          color: $black85;
        }
      }
    }
  }
}
