.buttonIcon{
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    .iconContainer{
        display: inline-block;
        height: 100%;
        width: 20%;
        margin-left: 5%;
        vertical-align: top;
        .icon{
            height: 100%;
            width: 100%;
            
        }
    }
    .textContainer{
        display: inline-block;
        width: 70%;
        height: 100%;
        margin-right: 5%;
        font-size: 14px;
    }
}


