@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.productCard {
  font-family: 'Roboto', sans-serif;
  background: white;
  height: 400px;
  width: 300px;
  -moz-border-radius: 2%;
  border-radius: 2%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  &:hover {
    -webkit-box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.29);
  }
  overflow: hidden;
  margin: auto;

  .cardDiscount{
    background-color: green;
    color: #eee;
    position: absolute;
    border-radius:  20% 0 0 0;
    padding: 1px;
  }

  .cardPicture {
    height: 57%;
    margin: 2%;
    img {
      width: 100%;
    }
  }
  .cardContent {
    height: 28%;
    width: 100%;
    .cardData {
      width: 100%;
      height: 25%;
      flex-direction: row;
      .cardScore {
        background: var(--color-sun);
        color: white;
        display: inline-block;
        width: 30%;
        height: 105%;
        margin: 0 5%;
        border-radius: 10px;
        -moz-border-radius: 10px;
        align-items: center;
      }
      .cardPrice {
        height: 100%;
        width: 60%;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;
      }
      .starIcon {
        flex-direction: row;
        height: 100%;
        width: 100%;
      }
    }
    .cardText {
      height: 75%;
      margin: 0 5%;
      font-size: 18px;
      text-align: justify;
    }
  }

  .cardButtons {
    width: 100%;
    height: 12%;
    flex-direction: row;

    .wishlistButton {
      background: #EDEDED;
      width: 50%;
      height: 100%;
      display: inline-block;
      border: none;
      outline: none;
    }
    .addCartButton {
      background: var(--color-brand);
      color: white;
      width: 50%;
      height: 100%;
      display: inline-block;
      border: none;
      outline: none;
    }
    .cardIcon {
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
  }
}

p {
  margin: 0;
  vertical-align: center;
}

#nameCard {
  height: 50%;
}

#descriptionCard {
  height: 70%;
}

.cardLink {
  text-decoration: none;
  color: black;
}
