.scoreIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;

  .starContainer {
    padding-top: 10px;
    height: 100%;
    width: 100%;

    .icon {
      height: 85%;
      width: 100%;
    }
  }
  .scoreContainer {
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
}
