.containergral {
  align-content: center;
  justify-content: center;
  background-color: #efefef;
  flex-direction: column;
  padding: 30px;
  position: relative;
}
h1 {
  color: #378a19;
}
.img-card {
  margin-left: 50%;
}
.unorderlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
