.containerAdminFilterOrder{
    flex-direction: row;
    height: 50px;
    width: 100%;
    background: var(--color-brand);
    color: white;
    //sanimation: 1s ease-out 0s 1 slideInFromLeft;
    .registerAdminFilter{
        display: inline-block;
        height: 100%;
        width: 7%;
    }
    .firstNameAdminFilter{
        display: inline-block;
        height: 100%;
        width: 10%;
    }
    .lastNameAdminFilter{
        display: inline-block;
        height: 100%;
        width: 10%;
    }    
    .creationAdminFilter{
        display: inline-block;
        height: 100%;
        width: 15%;
    }
    .updateAdminFilter{
        display: inline-block;
        height: 100%;
        width: 15%;
    }
    .paymentAdminFilter{
        display: inline-block;
        height: 100%;
        width: 13%;
    }
    .totalAdminFilter{
        display: inline-block;
        height: 100%;
        width: 15%;
    }
    .stateAdminFilter{
        display: inline-block;
        height: 100%;
        width: 15%;
    }
}


