.containerAdminOrders{
    width: 90%;
    margin: 2% 5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px #0000001a;
    .filterAdmin{
        background:var(--color-brand);
        flex-direction: row;
        height: 50px;
        width: 100%;
        color: white;
        label{
            height: 100%;
            margin-left: 25%; 
            input{
                height: 100%;
                vertical-align: middle;
                               
            }
        }       
        
        .created{
            display: inline-block;
            width: 20%;
            height: 100%;
        }
        .processing{
            display: inline-block;
            width: 20%;
            height: 100%;
        }
        .completed{
            display: inline-block;
            width: 20%;
            height: 100%;
        }
        .cancelled{
            display: inline-block;
            width: 20%;
            height: 100%;
        }
        .filterState{
            display: inline-block;
            height: 100%;
            border: none;
            width: 5%;
            padding: 0;
            vertical-align: top;
            &:hover{
                background: var(--color-dark);
                color: white;
            }
        }
        .modifyState{
            display: inline-block;
            background: var(--color-sun-85);
            height: 100%;
            border: none;
            width: 15%;
            padding: 0;
            vertical-align: top;
            &:hover{
                background: var(--color-sun );
            }
        }
    }
    .containerAdminOrder{
        width: 100%;
        animation: 1s ease-out 0s 1 slideInFromLeft;
        .orderAdmin{
            flex-direction: row;
            background: var(--color-gray);
            height: 50px;
            cursor: pointer;
            &:hover{
                color:var(--color-brand);
            }
            .orderAdminId{
                display: inline-block;
                height: 100%;
                width: 7%;
            } 
            .orderAdminFirstName{
                display: inline-block;
                height: 100%;
                width: 10%;
            } 
            .orderAdminLastName{
                display: inline-block;
                height: 100%;
                width: 10%;
            } 
            .orderAdminCreatedAt{
                display: inline-block;
                height: 100%;
                width: 15%;
            }
            .orderAdminUpdatedAt{
                display: inline-block;
                height: 100%;
                width: 15%;
            }
            .orderAdminPayment{
                display: inline-block;
                height: 100%;
                width: 13%;
            }
            .orderAdminTotal{
                display: inline-block;
                height: 100%;
                width: 15%;
            }
            .orderAdminStatus{
                display: inline-block;
                height: 100%;
                width: 15%;
            }
        }
        .folding-pannel {
            display: block;
            transition: all 0.2s ease-in;
            line-height: 40px;
        }
        .active{
            height: 100%;
            .folding-pannel{
                background: white;
                //transform: perspective(350px) rotateX(0deg);
                transition: all 0.4s ease-in-out;
                height: 100px;                
            }
            .filter{
                height: 50px;
            }
        } 
        .inactive {   
            background: var(--color-brand-lights); 
            height: 100%;    
            .folding-pannel{
                transform-origin: 50% 0%;
                transform: perspective(250px) rotateX(-90deg);
                transition: all 0.4s ease-in-out;
                height: 0;
            }
        }
        .containerAdminOrderDetails {
            width: 100%;        
        }
    }        
}

@keyframes slideInFromLeft {
    // 0% {
    //   transform: translateY(-500%);
    // }
    // 100% {
    //   transform: translateY(0);
    // }
    0%{
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
        
      }
      50%{
        opacity: 0.5;
        
      }
      100%{
        opacity: 1;
        transform: rotateX(0deg);
      } 
}







