.searchBarForm {
  form {
    position: relative;
    width: 36rem;
    background: var(--color-brand);
    border-radius: var(--rad);
    :hover {
      cursor: text;
      background: var(--color-brand);
    }
  }

  input,
  button {
    height: var(--height);
    font-family: var(--font-main);
    border: 0;
    color: var(--color-black);
    font-size: 1.5rem;
  }

  input[type='search'] {
    vertical-align: 3.5px;
    width: 15rem;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    outline: none;
    appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }

  button {
    display: none;
    position: relative;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }

  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: 20vw;
    // width: calc(500px - var(--btn-width));
    + button {
      outline: none;
      position: absolute;
      display: inline;
      line-height: 0px;
    }
    + button:hover {
      color: whitesmoke;
      background-color: #3c971b;
      cursor: pointer;
    }
  }
}

.displayOptions {
  color: var(--color-black);
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-light);
    position: absolute;
    transition: all var(--dur) var(--bez);
    margin: 1px 0 0 2px;
    z-index: 999;

    li {
      width: 18.3vw;
      margin-left: -40px;
      text-align: left;
      padding: 8px 21px 9px 10px;
      list-style-type: none;

      &:hover {
        cursor: pointer;
        border: solid 2px var(--color-brand);
        font-weight: 600;
      }
    }
  }
}
