body {
  font-family: sans-serif;
  overflow-x: hidden;
}
.containerProdFormCreate {
  display: flex;
  flex-direction: column;
  text-align: center;
  button {
    background-color: var(--color-brand-light);
    padding: 1.5vh 3vw;
    border: transparent;
    box-shadow: 2px 2px 2px var(--color-brand);
    margin: 2vh auto;

    &:hover {
      background-color: var(--color-brand);
      box-shadow: 2px 2px 2px #164b03;
      position: relative;
      top: -5px;
    }
    &:active {
      background-color: var(--color-sun);
      box-shadow: 2px 2px 2px orange;
    }

    &:nth-child(1) {
      margin: 4vh auto;
    }
  }
}
.input_file {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand-light);
  padding: 1.5vh 3vw;
  border: transparent;
  box-shadow: 2px 2px 2px var(--color-brand);
  margin: 2vh auto;
  cursor: pointer;
  input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  label {
    text-align: center;
  }
  label:hover {
    cursor: pointer;
  }
}

.input_file_full {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: gray;
  padding: 1.5vh 3vw;
  border: transparent;
  /* box-shadow: 2px 2px 2px rgb(73, 72, 72); */
  margin: 2vh auto;
  input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  label {
    text-align: center;
  }
}
.img-card-pic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.404);
  width: 90%;
  height: 200px;
  background-color: rgba(255, 235, 205, 0.295);
  position: relative;

  .img-card-pic-interno {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;

    img {
      height: 190px;
      width: 150px;
    }

    .boton {
      position: absolute;
      top: 0;
      right: 0;
      height: min-content;
      width: min-content;

      margin: 2px;
    }
  }
  progress {
    position: absolute;
    bottom: 0;
    background-color: var(--color-brand-light);
    width: 100%;
    height: 4px;
  }
}

.cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--color-brand-light);
  background: -webkit-linear-gradient(
    to right,
    var(--color-brand),
    var(--color-brand-light)
  );
  background: linear-gradient(
    to right,
    var(--color-brand),
    var(--color-brand-light)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: rgba(0, 0, 0, 0.699);
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  padding-top: 30px;
  border-radius: 2px;
  transition: 500ms;
  width: 60%;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.438);

  select {
    color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    height: 40px;
    width: 40%;

    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 500ms;
  }

  select:focus {
    border: none;
    outline: none;
  }
  input {
    color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    height: 40px;
    width: 90%;

    border: none;
    border-radius: 5px;
    transition: 500ms;
    margin-top: 10px;
    margin-bottom: 10px;

    &[type="checkbox"] {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .categoryBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 2vw;
    }
  }

  input:focus {
    border: none;
    outline: none;
  }

  textarea {
    color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    height: 80px;
    width: 90%;

    border: none;
    border-radius: 5px;
    transition: 500ms;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  textarea:focus {
    border: none;
    outline: none;
  }
}
.cont-1:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.89);
}
