.containerProdForm {
  text-align: center;
  margin: 40px auto;

  h1 {
    margin: 4vh auto;
    color: var(--color-brand);
  }

  a {
    text-decoration: none;
  }

  .contBtnProdForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    // button {
    //   color: white;     
    //   margin: 0 10px;
    //   font-weight: bold
    // }
  }
}
