.containerProdFormDelete {
  display: flex;
  flex-direction: column;
  text-align: center;
  button {
    background-color: var(--color-brand-light);
    padding: 1.5vh 3vw;
    border: transparent;
    box-shadow: 2px 2px 2px var(--color-brand);
    margin: 2vh auto;

    &:hover {
      background-color: var(--color-brand);
      box-shadow: 2px 2px 2px #164b03;
      position: relative;
      top: -5px;
    }
    &:active {
      background-color: var(--color-sun);
      box-shadow: 2px 2px 2px orange;
    }

    &:nth-child(1) {
      margin: 4vh auto;
    }
  }
}
