.containerProdFormUpdate {
  display: flex;
  flex-direction: column;
  text-align: center;
 
  .textareaDescription {
    background-color: transparent;
    border: solid 1px #bdbdbd;
    border-radius: 5px;
    height: 100px;
    margin-top: 15px;
    padding: 15px;
    width: 87%;
  }
  .textareaDescription:hover {
    border: solid 1px black;
  }
  .textareaDescription:focus {
    border: solid 1px #4caf50;
  }
}
