.infoContainer {
    padding: 40px 0;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .selectScreen {
      background-color:cadetblue;
      width: 20%;
      height: 300px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
}