.menu {
  display: flex;
  // box-shadow: 60px -16px var(--color-brand);
  min-width: 4rem;
  margin-right: 6px;
  height: 19vh;
  padding: 10px;

  .test {
    font-family: sans-serif;
    color: var(--color-gray-secondary);
    text-decoration: none;
    :hover {
      color: var(--color-brand);
    }
  }
}
