<<<<<<< HEAD
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;

  label {
    background: #444;
    color: #fff;
    transition: transform 400ms ease-out;
    display: inline-block;
    max-height: 100%;
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 50vh;
  }
  form {
    position: absolute;
    top: 20%;
    left: 0;
    // bottom: 0;
    right: 0;
    white-space: nowrap;
  }
  input {
    position: absolute;
  }
  .keys {
    position: fixed;
    z-index: 10;
    // bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    text-align: center;
    transition: all 300ms linear;
    opacity: 0;
  }

  input:focus ~ .keys {
    opacity: 0.8;
  }

  input:nth-of-type(1):checked ~ label:nth-of-type(1),
  input:nth-of-type(2):checked ~ label:nth-of-type(2),
  input:nth-of-type(3):checked ~ label:nth-of-type(3),
  input:nth-of-type(4):checked ~ label:nth-of-type(4) {
    z-index: 0;
  }

  input:nth-of-type(1):checked ~ label {
    transform: translate3d(0, 0, 0);
  }

  input:nth-of-type(2):checked ~ label {
    transform: translate3d(-100%, 0, 0);
  }

  input:nth-of-type(3):checked ~ label {
    transform: translate3d(-200%, 0, 0);
  }

  input:nth-of-type(4):checked ~ label {
    transform: translate3d(-300%, 0, 0);
  }

  label {
    background: #85da6c;
    background-size: cover;
    font-size: 3rem;
  }

  label[for="diamonds"],
  label[for="hearts"] {
    background: #378a19;
  }

  label:before,
  label:after {
    color: white;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    padding: 1rem;
    font-size: 3rem;
    height: 10rem;
    // vertical-align: middle;
    line-height: 10rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
  }

  label:before {
    content: "\276D";
    right: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  label:after {
    content: "\276C";
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
=======
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

// verde principal: #378A19;
// verde claro: #85DA6C;
// gris principal: #EFEFEF;
// gris claro: #F7F7F7;

.containerHome {
  /* colors */
  $mainGreen: #378A19;
  $red: #ff4a53;
  $dark: #378a19;

  $accent: $mainGreen;
  $accent-inactive: desaturate($accent, 85%);
  $secondary: $accent-inactive;

  /* tab setting */
  $tab-count: 4;
  $indicator-width: 50px;
  $indicator-height: 4px;

  /* breakpoints */
  $breakpoints: (
    medium: #{$tab-count * 250px},
    small: #{$tab-count * 150px},
  );

  /* selectors relative to radio inputs */
  $label-selector: "~ ul > li";
  $slider-selector: "~ .slider";
  $content-selector: "~ .content > section";

  @mixin tabs(
    $label-selector: $label-selector,
    $slider-selector: $slider-selector,
    $content-selector: $content-selector
  ) {
    @for $i from 1 through $tab-count {
      &:nth-of-type(#{$i}):checked {
        #{$label-selector}:nth-child(#{$i}) {
          @content;
        }

        #{$slider-selector} {
          transform: translateX(#{100% * ($i - 1)});
        }

        #{$content-selector}:nth-child(#{$i}) {
          display: block;        
        }
      }
    }
  }

  title{
    color: #378a19;
  }
  html {
    width: 100%;
    height: 100%;
  }

  body {
    background: #efefef;
    color: $mainGreen;
    font-family: "Raleway";
    height: 100%;

    h1 {
      text-align: center;
      color: $accent;
      font-weight: 300;
      padding: 40px 0 20px 0;
      margin: 0;
    }
  }

  .tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 70%;
    height: 350px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: #{$tab-count * 60px};
    input[name="tab-control"] {
      display: none;
    }

    content section h2,
    ul li label {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 18px;
      color: $accent;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      li {
        box-sizing: border-box;
        flex: 1;
        width: #{100% / $tab-count};
        padding: 0 10px;
        text-align: center;

        label {
          transition: all 0.3s ease-in-out;
          color: $secondary;
          padding: 5px auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          white-space: nowrap;
          -webkit-touch-callout: none;
          // @include user-select(none);

          br {
            display: none;
          }

          svg {
            fill: $secondary;
            height: 1.2em;
            vertical-align: bottom;
            margin-right: 0.2em;
            transition: all 0.2s ease-in-out;
          }

          &:hover,
          &:focus,
          &:active {
            outline: 0;
            color: lighten($secondary, 15%);
            svg {
              fill: lighten($secondary, 15%);
            }
          }
        }
      }
    }

    .slider {
      position: relative;
      width: #{100% / $tab-count};
      transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
      .indicator {
        position: relative;
        width: $indicator-width;
        max-width: 100%;
        margin: 0 auto;
        height: $indicator-height;
        background: $accent;
        border-radius: 1px;
      }
    }

    .content {
      margin-top: 30px;

      section {
        display: none;
        animation: {
          name: content;
          direction: normal;
          duration: 0.3s;
          timing-function: ease-in-out;
          iteration-count: 1;
          height: 250px
        }
        line-height: 1.4;

        h2 {
          color: $accent;
          display: none;
          &::after {
            content: "";
            position: relative;
            display: block;
            width: 30px;
            height: 3px;
            background: $accent;
            margin-top: 5px;
            left: 1px;
          }
        }
      }
    }

    input[name="tab-control"] {
      @include tabs {
        > label {
          cursor: default;
          color: $accent;

          svg {
            fill: $accent;
          }

          @media (max-width: map-get($breakpoints, small)) {
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    @keyframes content {
      from {
        opacity: 0;
        transform: translateY(5%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @media (max-width: map-get($breakpoints, medium)) {
      ul li label {
        white-space: initial;

        br {
          display: initial;
        }

        svg {
          height: 1.5em;
        }
      }
    }

    @media (max-width: map-get($breakpoints, small)) {
      ul li label {
        padding: 5px;
        border-radius: 5px;

        span {
          display: none;
        }
      }

      .slider {
        display: none;
      }

      .content {
        margin-top: 20px;
        section h2 {
          display: block;
        }
      }
    }
>>>>>>> Quality
  }
}
