body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;

  label {
    background: #444;
    color: #fff;
    transition: transform 400ms ease-out;
    display: inline-block;
    max-height: 100%;
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 50vh;
  }

  form {
    position: absolute;
    top: 20%;
    left: 0;
    // bottom: 0;
    right: 0;
    white-space: nowrap;
  }

  input {
    position: absolute;
  }

  .keys {
    position: fixed;
    z-index: 10;
    // bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    text-align: center;
    transition: all 300ms linear;
    opacity: 0;
  }
}