//Vars
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #378A19;
  --font-fam: 'Lato', sans-serif;
  --height: 3rem;
  --btn-width: 4rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
.searchBarForm {
  margin-top: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
    :hover {
      background: #379e12
    }
  }
  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  input[type="search"] {
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    outline: none;
    appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    + button:hover{
      color: whitesmoke;
    }
  }
}
