.container-payment {
  text-align: center;

  h3 {
    color: #333;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
    font-weight: 700;
  }

  button {
    
    margin: 10px 1px;
    height: 3.7rem;
    background-color: #0070ba;
    color: #fff;
    margin-left: none;
    font-weight: bolder;

    &:hover {
      background-color: #009ee3;
      box-shadow: 2px 2px 2px #0070ba;
    }
  }

  .button-paypal {
    width: 100%;
    
  }
}
