.container-payment {
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(47, 126, 19, 1);
  h3 {
    color: #333;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
    font-weight: 700;
  }

  button {
    margin: 30px 1px;
    height: 3.7rem;
    background-color: #0070ba;
    color: #fff;
    margin-left: none;
    font-weight: bolder;
    

    &:hover {
      background-color: #009ee3;
      box-shadow: 2px 2px 2px #0070ba;
    }
  }

  .button-paypal {
    width: 100%;
  }

 .Button{
  margin-top: 30px 1px;
  height: 3.7rem;
  background-color: #0070ba;
  color: #fff;
  
  font-weight: bolder;
  width: 530px;

  &:hover {
    background-color: #009ee3;
    box-shadow: 2px 2px 2px #0070ba;
  }
 }

 .button-forward-reverse{
  background-color: rgb(55, 138, 25)
 }

}
