.cart-container {
  margin: 126px auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    color: var(--color-black);
    // border-bottom: 2px solid #333;
    text-align: center;
    width: 15rem;
    font-family: var(--font-main), var(--font-fam);
    font-size: 25px;
  }
  h2 {
    margin-right: 1.5rem;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
  }
  .cart {
    // margin-right: 75%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .total {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;

    div {
      text-align: center;
      padding: 2px;
    }

    .link-redirect {
      text-decoration: none;
      button {
        margin-top: 20px;
      }
    }
    button {
      background-color: #378a19;
      color: #f7f7f7;
      font-weight: 100px;
    }
  }

  .deleteAll {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    .link-redirect {
      text-decoration: none;
    }

    button {
      background-color: var(--color-delete);
      color: var(--color-light);
      font-weight: 100px;
    }
  }

  hr {
    margin: 5vh auto;
    width: 80%;
    color: var(--color-dark);
    opacity: 50%;
  }

  .defaultResponse {
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 180px;
      height: fit-content;
      margin: 1rem 1rem;
      padding: 12px 24px;
      border-radius: 3px;
      font-size: 16px;
      background-color: var(--color-brand);
      color: var(--color-light);
      border: none;
      cursor: pointer;
      opacity: 70%;
      &:hover {
        background-color: var(--color-sun-85);
        box-shadow: 1px 1px 2px var(--color-black);
        text-shadow: 1px 1px 1px var(--color-black);
      }
    }
  }
}
