.productCart {
  display: flex;
  background: white;
  height: 200px;
  width: 900px;
  -moz-border-radius: 2%;
  border-radius: 2%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  &:hover {
    -webkit-box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.29);
  }
  overflow: hidden;
  margin: 15px;

  .cardPicture {
    height: 100%;
    margin: 2%;
    img {
      width: 100%;
      height: 95%;
    }
  }
  .cartContent {
    height: 60%;
    width: 100%;
    .cardData {
      width: 100%;
      height: 25%;
      flex-direction: row;
      .cardScore {
        background: orange;
        color: white;
        display: inline-block;
        width: 30%;
        height: 100%;
        margin: 0 5%;
        border-radius: 10px;
        -moz-border-radius: 10px;
      }
      .cardPrice {
        height: 100%;
        width: 60%;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;
      }
      .starIcon {
        flex-direction: row;
        height: 100%;
        width: 100%;
      }
    }
    .cartText {
      height: 50%;
      margin: 0 5%;
      font-size: 14px;
      text-align: justify;
    }
  }

  .cardButtons {
    width: 100%;
    height: 10%;
    flex-direction: row;

    .wishlistButton {
      background: gray;
      width: 50%;
      height: 100%;
      display: inline-block;
      border: none;
      outline: none;
    }
    .addCartButton {
      background: green;
      color: white;
      width: 50%;
      height: 100%;
      display: inline-block;
      border: none;
      outline: none;
    }
    .cardIcon {
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
  }
  .delete {
    float: right;
  }
}

p {
  margin: 0;
  vertical-align: center;
}
.stock {
  color: red;
}
.stockUp {
  font-weight: 300;
  font-size: 14px;
  color: #999;
  margin-top: 2px;
}
#nameCard {
  height: 50%;
}

#descriptionCard {
  height: 70%;
}

.cardLink {
  text-decoration: none;
  color: black;
}
