.total {
  padding: 1rem;
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  float: right;
  h2 {
    padding: 1rem;
  }

  .link-redirect {
    text-decoration: none;
    button {
      background-color: #378a19;
      color: #f7f7f7;
      font-weight: 100px;
    }
  }
}

.OrderModify{
  float: right;
  width: 25%;
  margin-right: 50px;
  position: sticky;
  top: 150px;
 
}