@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

.containerHome {
  margin: 5% 0;

  $accent-inactive: desaturate(#c3ecb3, 85%);
  $secondary: $accent-inactive;

  /* tab setting */
  $tab-count: 4;
  $indicator-width: 50px;
  $indicator-height: 4px;

  /* breakpoints */
  $breakpoints: (
    medium: #{$tab-count * 250px},
    small: #{$tab-count * 150px},
  );

  /* selectors relative to radio inputs */
  $label-selector: '~ ul > li';
  $slider-selector: '~ .slider';
  $content-selector: '~ .content > section';

  @mixin tabs(
    $label-selector: $label-selector,
    $slider-selector: $slider-selector,
    $content-selector: $content-selector
  ) {
    @for $i from 1 through $tab-count {
      &:nth-of-type(#{$i}):checked {
        #{$label-selector}:nth-child(#{$i}) {
          @content;
        }

        #{$slider-selector} {
          transform: translateX(#{100% * ($i - 1)});
        }

        #{$content-selector}:nth-child(#{$i}) {
          display: block;
        }
      }
    }
  }

  title {
    color: white;
  }
  html {
    width: 100%;
    height: 100%;
  }

  body {
    margin-top: 20px;
    background: var(--color-light);
    color: white;
    font-family: 'Raleway';
    height: 100%;

    h1 {
      text-align: center;
      color:white;
      font-weight: 300;
      padding: 40px 0 20px 0;
      margin: 0;
    }
  }

  .tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 10px 0 40px 0;
    // padding-bottom: 5px;
    width: 90%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: #{$tab-count * 60px};
    background-color: var(--color-brand);
    input[name='tab-control'] {
      display: none;
    }

    content section h2,
    ul li label {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 18px;
      color: white;
      
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      li {
        box-sizing: border-box;
        flex: 1;
        width: #{100% / $tab-count};
        padding: 0 5px;
        text-align: center;

        label {
          transition: all 0.3s ease-in-out;
          color: $secondary;
          padding: 2px auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          white-space: nowrap;
          -webkit-touch-callout: none;
          // @include user-select(none);

          br {
            display: none;
          }

          svg {
            fill: $secondary;
            height: 1.2em;
            vertical-align: bottom;
            margin-right: 0.2em;
            transition: all 0.2s ease-in-out;
          }

          &:hover,
          &:focus,
          &:active {
            outline: 0;
            color: lighten($secondary, 15%);
            svg {
              fill: lighten($secondary, 15%);
            }
          }
        }
      }
    }

    .slider {
      position: relative;
      width: #{100% / $tab-count};
      transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
      .indicator {
        position: relative;
        width: $indicator-width;
        max-width: 100%;
        margin: 0 auto;
        height: $indicator-height;
        background: white;
        border-radius: 1px;
      }
    }

    .content {
      section {
        background: var(--color-brand);
        display: none;
        animation: {
          name: content;
          direction: normal;
          duration: 0.3s;
          timing-function: ease-in-out;
          iteration-count: 1;
          height: 250px;
        }
        height: 220px;
        .cardContent1{
          display: flex;
          .text1{
            display: flex;
            justify-content: center;
            width: 100%;
            p{
              color: white;
              font-size: 25px;
              padding: 2%;
              height: 200px;
              width: 85%;
              background: url('https://images.unsplash.com/photo-1519897831810-a9a01aceccd1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80'),
              rgba(0, 0, 0, 0.315);
              border-radius: 7px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position-y: center;
              background-blend-mode:darken;
              .verMas{
                cursor: pointer;
                float: right;
                margin-top: 130px;
                text-decoration: none;
                color: white;
                font-size: 15px;
              }
            }
          }
        }
        .cardContent2{
          display: flex;
          .text2{
            display: flex;
            justify-content: center;
            width: 100%;
            p{
              color: white;
              font-size: 25px;
              padding: 2%;
              height: 200px;
              width: 85%;
              background: url('https://images.unsplash.com/photo-1523349312806-f5dde0a01c32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80'),
              rgba(0, 0, 0, 0.336);
              border-radius: 7px;
              background-repeat: no-repeat;
              background-size: cover;
              background-blend-mode:darken;
              .verMas{
                cursor: pointer;
                float: right;
                margin-top: 130px;
                text-decoration: none;
                color: white;
                font-size: 15px;
              }
            }
          }
        }
        .cardContent3{
          display: flex;
          .text3{
            display: flex;
            justify-content: center;
            width: 100%;
            p{
              color: white;
              font-size: 25px;
              padding: 2%;
              height: 200px;
              width: 85%;
              background: url('https://images.unsplash.com/photo-1536153635972-1fc2e818f642?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80'),
              rgba(0, 0, 0, 0.219);
              background-repeat: no-repeat;
              background-size: cover;
              background-position-y: center;
              border-radius: 7px;
              background-blend-mode:darken;
              .verMas{
                cursor: pointer;
                float: right;
                margin-top: 130px;
                text-decoration: none;
                color: white;
                font-size: 15px;
              }
            }
          }
        }
        .cardContent4{
          display: flex;
          .text4{
            display: flex;
            justify-content: center;
            width: 100%;
            p{
              color: white;
              font-size: 25px;
              padding: 2%;
              height: 200px;
              width: 85%;
              background: url('https://images.unsplash.com/photo-1581615760599-bbfa598a0b88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80'),
              rgba(0, 0, 0, 0.219);
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 7px;
              background-blend-mode:darken;
              .verMas{
                cursor: pointer;
                float: right;
                margin-top: 130px;
                text-decoration: none;
                color: white;
                font-size: 15px;
              }
            }
          }
        }

        h2 {
          color: white;
          display: none;
          &::after {
            content: '';
            position: relative;
            display: block;
            width: 30px;
            height: 3px;
            background-color: var(--color-brand);
            margin-top: 5px;
            left: 1px;
          }
        }
      }
    }

    input[name='tab-control'] {
      @include tabs {
        > label {
          cursor: default;
          color: white;

          svg {
            fill: var(--color-brand);
          }

          @media (max-width: map-get($breakpoints, small)) {
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    @keyframes content {
      from {
        opacity: 0;
        transform: translateY(5%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @media (max-width: map-get($breakpoints, medium)) {
      ul li label {
        white-space: initial;

        br {
          display: initial;
        }

        svg {
          height: 1.5em;
        }
      }
    }

    @media (max-width: map-get($breakpoints, small)) {
      ul li label {
        padding: 2px;
        border-radius: 5px;

        span {
          display: none;
        }
      }

      .slider {
        display: none;
      }

      .content {
        margin-top: 20px;
        section h2 {
          display: block;
        }
      }
    }
  }
}
