.distributionCentersContainer{
    .distributionTitle{
        margin: 10px;
        color: var(--color-brand);
    }
    .addLocation{
        height: 100px;
        width: 720px;
        background: white;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        flex-direction: row;
        margin: 5px;
        .roomAdd{
            display: inline-block;
            height: 100px;
            width: 24px;
            vertical-align: top;
            margin-top: 38px;
            margin-left: 10px;
            margin-right: 10px;
            color: var(--color-brand);
        }
        .centerInfo{
            display: inline-block;
            width: 632px;
            height: 100%;
            margin-top: 40px;
            .addText{
                color: var(--color-dark);
            }
        }
    }
}