@mixin card() {
  width: 60%;
  padding: 0px 10px;
  margin: 10px 10px;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
  // transition: 0.5s;
  background-color: var(--color-gray);
  text-decoration: none;
}

.container-todo {
  @include card();
}
.container-reset {
  margin: 156px 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .container-title-reset {
    width: 80%;
    margin: 2em 3em;
  }

  .cointainer-form-reset {
    width: 80%;
    margin: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
