
.containerOrder{
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    .buttons{
        display: flex;
        justify-content: space-around;
        align-items: content;
    }
    .selectuser{
        align-items: center
    }
    
    .active{
        height: 10%;
        .folding-pannel{               
            background: white;
            //transform: perspective(350px) rotateX(0deg);
            transition: all 0.4s ease-in-out;
            height: 20px;
            justify-content: space-around;          
        }      
    } 
    .inactive {   
        background: var(--color-brand-lights); 
        height: 10%;    
        .folding-pannel{
            transform-origin: 50% 0%;
            transform: perspective(250px) rotateX(-90deg);
            transition: all 0.4s ease-in-out;
            height: 0;
            height: 20px; 
        }
    }
}


@keyframes slideInFromLeft {
    0%{
        display: none;
        opacity: 0;
        transform: rotateX(90deg);

      }
      50%{
        opacity: 0.5;

      }
      100%{
        opacity: 1;
        transform: rotateX(0deg);
      } 
}