@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

//Vars
:root {
  --rad: 0.7rem;
  --color-black: #2a2e2a;
  --color-dark: #696868;
  --color-light: #efefef;
  --color-gray: #f7f7f7;
  --color-brand: #378a19;
  --color-brand-light: #85da6c;
  --color-sun: rgba(243, 208, 11, 0.87);
  --font-fam: 'Lato', sans-serif;
  --font-main: 'Raleway', sans-serif;
  --height: 3rem;
  --btn-width: 4rem;
  --dur: 0.8s;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --bez-2: cubic-bezier(0.73, 0.32, 0.34, 1.5);
}
